// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #F3F3F3;
}


.formContainer {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 50px;
  background: #fff;
}


  
  
  
 
  
  
 
  